<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title><%= @page.title.titleize %> — <%= @project %></title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel='shortcut icon' href='/plugin_assets/redmine_presentation/images/favicon.png' />

    <%= stylesheet_link_tag "screen-16x10.css", :media => "all", :plugin => "redmine_presentation" %>
    <%= stylesheet_link_tag "fix", :media => "all", :plugin => "redmine_presentation" %>

</head>
<body class="shower list">
    <header class="caption">
        <h1><%= @page.title.titleize %></h1>
        <p><%= @project %></p>
    </header>
    <%= textilizable @content, :text, :attachments => @content.page.attachments  %>

    <p><section class='slide backcover'></section></p>

    <div class="progress"></div>
    <%= javascript_include_tag "shower.min.js", :plugin => "redmine_presentation" %>

    <script type="text/javascript">
        Array.from(document.body.getElementsByTagName('img')).forEach(function(img) {
            if (img.parentNode.tagName == 'P') {
                img.parentNode.className = "with-img";
            }
        });
    </script>
  </body>
  </html>
